body{
    font-family: 'Poppins', sans-serif;
}

html,
*{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80vw;
    background-color: rgb(209, 209, 214);
    
}
.card{
    height: 50vh;
    margin: 2rem 0;
    width: 28%;
    background-color: rgba(191, 116, 245, 0.265);
    display: flex;
    flex-direction: column;
   align-items:normal
   
    box-shadow: 10px 5px 5px rgb(167, 228, 226);
}
.card-title{
    font-size: 2.2rem;
    margin-top: 2rem;
}

.image{
    width: 100%;
}

