body{
    font-family: 'Poppins', sans-serif;
}

html,
*{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding-left: 6;
    padding-right: 6;
    
   

}

.container{
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80vw;   
}

.card{
    height: 50vh;
    margin: 2rem 0;
    width: 22%;
    background-color: rgba(125, 121, 129, 0.265);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 10px rgb(101, 164, 135);
    transition: all 800ms ;
    
}

@media screen and (max-width: 900px){
    .card{
        width: 40%;
    }
}

@media screen and (max-width: 600px){
    .card {
        width: 100%;
    }
}


.card:hover{
    transform: translate(16px, 11px) scale(1.059) rotate(0.003turn)  ; 
    background-color: rgb(185, 184, 184);
    color: rgb(255, 255, 255);
   
}

.card-title{
    font-size: 2.0rem;
    align-items: center;
}

.image{
    width: 100%; 
}

.h1{
    font-size: 4.0rem;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.fire{
    height: 60px;
    width: 70px;
    animation: myspinner 1s;
    animation-iteration-count: infinite;
}

@keyframes myspinner{
    from{
        transform: rotate(0deg);
    }
   
    to{
        transform: rotate(360deg);
    }
}

